@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

.header {
   width: 100%;
   height: 450px;
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 4rem;
}

.header__image {
   width: 420px;
   object-fit: cover;
}

.header__title {
   margin: 0;
   font-size: 4rem;
   font-weight: 100;
   color: rgb(61, 61, 61);
}

.header__title span {
   font-weight: 700;
   position: relative;
}

.header__title span::after {
   content: "";
   width: 100%;
   height: 15px;
   background-color: #F9A826;
   position: absolute;
   inset-inline-start: 5px;
   inset-block-end: 12px;
   z-index: -1;
}

.main {
   margin-block: 3rem;
}

.main__container {
   margin: 0 auto;
   width: 1100px;
   display: flex;
   flex-direction: column;
   row-gap: 1.2rem;
}

.main__projects {
   height: 100px;
};