@use '../base/variables' as var;
@use '../base/mixins' as mix;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
   box-sizing: border-box;
   font-size: 62.5%;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: var.$main-font;
   background-color: var.$light-gray-color;
}

h1, h2, p {
   margin: 0;
}
