@use '../base/variables' as var;
@use '../base/mixins' as mix;

.card__project {
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   background-color: var.$white-color;
   box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.4);
}

.card__projectImage {
   width: 100%;
   height: 220px;
   object-fit: cover;
   border-radius: 10px 10px 20px 20px;
}

.card__projectInfo {
   padding: 1rem;
   border-radius: 10px;
}

.card__projectTitle {
   font-size: 2.5rem;
   font-weight: 700;
}

.card__projectDescription {
   margin-block: .5rem 1rem;
   height: 60px;
   font-size: 1.4rem;
}

.card__projectLinks {
   display: flex;
   justify-content: flex-end;
   column-gap: 1rem;
}

.card__projectLink {
   padding: 0.5rem;
   display: flex;
   align-items: center;
   column-gap: 0.5rem;
   border-radius: 0.5rem;
   border: 1px solid rgba(var.$black-color, 0.2);

   @include mix.laptop-size {
      &:hover {
         background-color: var.$yellow-color;
         border: 1px solid var.$yellow-color;
         transition: 0.3s;
      }
   }
}

.card__projectLinkUrl {
   text-decoration: none;
   color: var.$black-color;
   font-size: 1.4rem;
}

.card__projectLinkIcon {
   width: 18px;
}
