@use '../base/variables' as var;
@use '../base/mixins' as mix;

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 65px;
}

.footer__content {
   font-size: 1.4rem;
   font-weight: 400;
   
   a {
      color: var.$black-color;
   }
}
