@use '../base/variables' as var;
@use '../base/mixins' as mix;

.header {
   width: 100%;
   height: 350px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 2rem;
   
   @include mix.tablet-size {
      height: 400px;
      flex-direction: row;
      column-gap: 2rem;
   }
   
   @include mix.laptop-size {
      height: 425px;
      column-gap: 4rem;
   }
}

.header__image {
   width: 280px;
   object-fit: cover;
   
   @include mix.tablet-size {
      width: 350px;
   }
   
   @include mix.laptop-size {
      width: 420px;
   }
}

.header__title {
   margin: 0;
   font-size: 4rem;
   font-weight: 100;
   color: var.$dark-gray-color;
   
   @include mix.tablet-size {
      font-size: 4.5rem;
   }
   
   @include mix.laptop-size {
      font-size: 5.6rem;
   }
   
   span {
      font-weight: 700;
      position: relative;
   }
   
   span::after {
      content: "";
      width: 100%;
      height: 15px;
      background-color: var.$yellow-color;
      position: absolute;
      inset-inline-start: 5px;
      inset-block-end: 12px;
      z-index: -1;
   }
}
